*{  margin: 0;  padding: 0;  box-sizing: border-box;   }
li{ color: rgb(222,222,211); font-size: 19px; 
    font-weight: 900;                     /* Negrita*/
}


.prctcndC{ font-family: arial ;             /* Tipo de letra */
            font-size: 16px;                /* Tamaño de letra */
            font-weight: 700;               /* Grosor de letra (Ngrt) */
            color: rgb(155, 122, 188);    /* Color dtra */
            }


.fch{
    font-family: Arial narrow;        /* Tipo de letra */
    font-size: 15px;                   /* Tamaño de letra */
    font-weight: Bold;                 /* Grosor de letra (Ngrt)  */
    color: rgb(144, 155, 144);               /* Color dtra */
}

/* Pgn Raíz */







/* Reduce ó Incrmnta el spc ntr líneas */

.p08{   line-height: 0.8; }
.p09{   line-height: 0.9; }
.p10{   line-height: 1.0; }
.p11{   line-height: 1.1; }
.p12{   line-height: 1.2; }
.p13{   line-height: 1.3; }     


body{ background: black; display: flex;}



.tmñ_LnEncbzd{  width: 435px; height: 10%    }
.tmñ_LnClds {   width: 435px; height: 18%;     }
.tmñ_LnRsltds{  width: 435px; height: 12%;     }

.tmñ_Clds_Enbzd {   width: 25%; height: 90%; }
.tmñ_Cld{           width: 25%; height: 100%    }
.tmñ_CldsRsltds{    width: 25%; height: 90%    }

.cntndr{            background: rgb(25, 42, 50);    width: 900px; height: 100%}

.fnd_Ln{            background: rgb(25, 42, 50); color: burlywood;  border: 3px solid rgb(25, 42, 50);    }
.fnd_CldEncbzds{    background: rgb(25, 42, 50);                      border: 3px solid rgb(25, 42, 50);    }
.fnd_Cld{           background: rgb(31, 53, 64);  border: 3px solid rgb(31, 53, 64); border-radius: 13px;}
.fnd_Cld:hover{     background: rgb(31, 53, 64);  border: 1px solid rgb(199, 199, 64); border-radius: 13px;      }
.fnd_Cld_hvr{       background: rgb(49, 49, 49); }
.fnd_Rsltd_X_You {  background: rgb(49, 196, 190); }
.fnd_Rsltd_TIES {   background: rgb(168, 190, 201); }
.fnd_Rsltd_CPU {    background: rgb(242, 178, 55); }


.brd_CldsRsltd{   border: 1px solid rgb(9, 9, 9); border-radius: 13px;}


.opC{     display: flex;  flex-direction: column;}
.opF{     display: flex;  flex-direction: row;}

/* A l i n e a r   E l m n t s */
.u_C { display: flex;     align-items: center;    justify-content: center;}
.u_H_I  { display: flex;   justify-content: left;       }
.u_H_C  { display: flex;   justify-content: center;     }
.u_H_D  { display: flex;   justify-content: right;      }
.u_V_Ar { display: flex;   align-items: top;    }   
.u_V_C  { display: flex;   align-items: center; }
.u_V_Ab { display: flex;   align-items: bottom; }
.izq {      display: flex; justify-content: flex-start;     }
.der {      display: flex; justify-content: flex-end;       }
.j-cntr{    display: flex; justify-content: center;         }
.j-spcArnd{ display: flex; justify-content: space-around;   }
.j-spcBtwn{ display: flex; justify-content: space-between;  }

.pddng_Ln {     padding: 8px; }
.pddng_Rsltds{  padding: 10px; }

.p1{ padding-left: 1px;  }.p2{ padding-left: 2px;  }.p3{ padding-left: 3px;  }.p4{ padding-left: 4px;  }.p5{ padding-left: 5px;  }
.p6{ padding-left: 6px;  }.p7{ padding-left: 7px;  }.p8{ padding-left: 8px;  }.p9{ padding-left: 9px;  }.p10{ padding-left: 10px;  }

.gp_Clds { gap: 12px; }
.gp1 { gap: 1px; }.gp2 { gap: 2px; }.gp3 { gap: 3px; }.gp4 { gap: 4px; }.gp5 { gap: 5px; }
.gp6 { gap: 6px; }.gp7 { gap: 7px; }.gp8 { gap: 8px; }.gp9 { gap: 9px; }.gp10 { gap: 10px; }
.gp11 { gap: 11px; }.gp12 { gap: 12px; }.gp13 { gap: 13px; }.gp14 { gap: 14px; }.gp15 { gap: 15px; }
.gp16 { gap: 16px; }.gp17 { gap: 17px; }.gp18 { gap: 18px; }.gp19 { gap: 19px; }.gp20 { gap: 20px; }
.gp21 { gap: 11px; }.gp22 { gap: 12px; }.gp23 { gap: 13px; }.gp24 { gap: 14px; }.gp25 { gap: 15px; }
.gp26 { gap: 16px; }.gp27 { gap: 17px; }.gp28 { gap: 18px; }.gp29 { gap: 19px; }.gp30 { gap: 20px; }


.smbr_Clds {    box-shadow: 0px 6px 0px 0px rgba(15, 32, 43, 1); /* aplica una Sombra Suave y Difuminada */
                         /* Der Abj Dsnfq Expans´              opacidad (últm prmtr ) */
}


/* Alnr Txt */

.t-cntrr{       text-align: center;}


/* Tps d Ltr */

.arl    {font-family: arial;    }
.vrdn   {font-family: Verdana;  }
.clbr   {font-family: Calibri;  }
.CL   {font-family: Calibri Light; }
.GS   {font-family: Gill Sans;    }
.GSM   {font-family: Gill Sans MT; }
.SS   {font-family: sans-serif;   }


/* Grsr d txt */

.gt1{ font: 100;}
.gt2{ font: 200;}
.gt3{ font: 300;}
.gt4{ font: 400;}
.gt5{ font: 500;}
.gt6{ font: 600;}
.gt7{ font: 700;}
.gt8{ font: 800;}
.gt9{ font: 900;}


/* Clr d txt */

.ctn{  color:black  }
.ctam{ color:yellow }
.ctaz{ color:blue   }
.ctb{  color:white  }
.ctg{  color:gray   }
.ctr{  color:red    }
.ctv{  color:green  }


/* Tmñ d txt */

.tt10{ font-size: 10px; }
.tt11{ font-size: 11px; }.tt12{ font-size: 12px; }.tt13{ font-size: 13px; }.tt14{ font-size: 14px; }.tt15{ font-size: 15px; }
.tt16{ font-size: 16px; }.tt17{ font-size: 17px; }.tt18{ font-size: 18px; }.tt19{ font-size: 19px; }.tt20{ font-size: 20px; }
.tt21{ font-size: 21px; }.tt22{ font-size: 22px; }.tt23{ font-size: 23px; }.tt24{ font-size: 24px; }.tt25{ font-size: 25px; }
.tt26{ font-size: 26px; }.tt27{ font-size: 27px; }.tt28{ font-size: 28px; }.tt29{ font-size: 29px; }.tt30{ font-size: 30px; }
.tt31{ font-size: 31px; }.tt32{ font-size: 32px; }.tt33{ font-size: 33px; }.tt34{ font-size: 34px; }.tt35{ font-size: 35px; }
.tt36{ font-size: 36px; }.tt37{ font-size: 37px; }.tt38{ font-size: 38px; }.tt39{ font-size: 39px; }.tt40{ font-size: 40px; }
.tt41{ font-size: 41px; }.tt42{ font-size: 42px; }.tt43{ font-size: 43px; }.tt44{ font-size: 44px; }.tt45{ font-size: 45px; }
.tt46{ font-size: 46px; }.tt47{ font-size: 47px; }.tt48{ font-size: 48px; }.tt49{ font-size: 49px; }.tt50{ font-size: 50px; }