* {  margin: 0;  padding: 0;  box-sizing: border-box;   }


body {  height: 100vh;  color: black;  display: flex; flex-direction: column;}

.clss_Cbcr {background-color: light gray; color: brown; height: 10%;/*Altr c Rspct al body*/  }
.clss_Nav { background-color: gray;       color: white; height: 10%;/*Altr c Rspct al body*/  }


.clss_Prncpl { background-color: rgb(95, 81, 81);  width: 60%;     }
.opF{ display: flex; flex-direction: row; }    /* opF -> orgnzr p Filas */
.opC{ display: flex; flex-direction: column; } /* opF -> orgnzr p Columnas */
.cH{ justify-content: center;}

.c_Main_Asd {  
height: 70%;                        /* Altr c Rspct al Cntndr Padre */
display: flex; flex-flow: row;      /* Indica cm serán Dsplgds ls Hijos [ row , column ] */
border: 4px rgb(0, 0, 199) solid; /* Borde c ls Atrbts: Grosor, Color, Solido */
padding: 5px;                       /* Espacio c respecto al Margen dl Contenedor */    
gap: 5px;                           /* Espacio ntr Líneas */ 
 }

.c_Main{  background-color: green;  height:  90%; width: 60%;     }
.c_Asd {  background-color: red;    height: 100%; width: 40%;     }
.c_Asd_L1 { background-color: green;  gap: 7px;  height: 80%; width: 98%;}
.c_Asd_L1_c1 { background-color: yellow; width: 48%; height: 90%;}  
.c_Asd_L1_c2 { background-color: blue;   width: 48%; height: 90%; border: 2px rgb(166, 44, 44) solid; border-radius: 2px;}   
.c_Asd_L2 { background-color: brown;  height: 50%; width: 80%; }






.clss_Asd_L1_cntndr_2 { background-color: lightblue;  width: 50%; height: 100%;
border: 4px rgb(22, 22, 199) solid; /* Borde c Grsor, Color, Solido */
border-radius: 8px;}  

.c_Footer {  background-color: blue;  height: 10%;  

    






.u_C {  display: flex;  align-items: center;  justify-content: center;  }
.u_I {  display: flex;  align-items: center;  justify-content: left;  }
.u_D {  display: flex;  align-items: center;  justify-content: right;  }
.t_Claro { color: rgb(199,199, 199);}
.t_Obscr { color: rgb(22, 22, 50);}
