* {  margin: 0;  padding: 0;  box-sizing: border-box;   }

body {  height: 100vh;
  display: flex;  flex-direction: column;/* El  cntndr_1   s un Contenedor Flexbox n Columna */
  background-color: rgb(18, 13, 17);
}

article{ font-size: 15px; font-family: calibri light;}

.cbcr{ 
background-color: rgb(76,175,80); color: rgb(255,254,237); 
width: 100%; height: 12%; 
font-family: arial;
display: flex;  align-items: center;  justify-content: center;   
}

.orgnzr_pFilas{ display: flex; flex-direction: row; }
.orgnzr_pClmns{ display: flex; flex-direction: column; }
.centrar{ display: flex;  align-items: center;  justify-content: left; }
.centrado_vrtcl{ display: flex;  align-items: center; }

.barra_dNvgcn{
background-color: rgb(51,51,51); color: rgb(206,213,206); width: 100%; height: 6%; 
font-family: arial; font-weight: 600;
display: flex;  align-items: center;  justify-content: left;  
padding: 30px;  
}

.hjs_brr_Nvgcn{
    background-color: rgb(51,51,51);  color: rgb(206,213,206); width: 10%; 
}

.seccPrncpl{    background-color: rgb(250,235,215);  width: 100%; height: 46%; }    

.seccHero{    background-color: rgb(250,235,215);  width: 60%; height: 98%; 
padding: 30px; gap: 10px;
font-family: arial; font-weight: 600;
}

.btn {
  border: 2px; border-color: rgb(68, 172, 74);  background-color: rgb(76,175,80);
  color: rgb(202,224,161);  font-weight: 600;
  border-radius: 5px;
  height: 30px; width: 100px;
}

.seccFoto{    background-color: rgb(250,235,215);  width: 40%; height: 98%;}

.seccInfrr{
    background-color: rgb(255,255,255); color: rgb(206,213,206); 
    width: 100%; height: 30%; 
    display: flex;  align-items: top;  justify-content: right; 
    padding: 13px;
}

.hijo_ttl_d_SeccInfrr{
    background-color: rgb(255,255,255); color: rgb(9,9,9); 
    width: 100%; height: 20%;  
    font-family: arial; font-weight: 600;   
}
.hijo_prrf_d_SeccInfrr{
    font-family: arial; font-size: 15px;
    background-color: rgb(244,244,244); color: rgb(22,22,22); 
    width: 100%; height: 80%; 
    padding: 20px; gap: 10px;
}

.lst_dArtcls{
background-color: rgb(244,244,244); color: rgb(22,22,22); width: 23%;
display: flex;  align-items: top;  justify-content: center;
}


.secc_pie_dPgn {
 background-color: rgb(51,51,51); color: rgb(206,213,206); 
 width: 100%; height: 6%; 
font-family: arial; font-weight: 600;
display: flex;  align-items: center;  justify-content: center;  
}